@inherits ModalBase

<Modal @ref="Modal" Title="Settings!" OnShowing="onShowingAsync">
    <BodyTemplate>
        <div>    
            <table class="settingsTable">
                <tr>
                    <td>Image folder!</td>
                    <td>
                        <InputText @bind-Value="@_config.ImageFolder"/>
                        <ErrorText @ref=@(_errorTexts["imageFolder"])></ErrorText>
                    </td>
                </tr>
                <tr>
                    <td>Use google photos</td>
                    <td><InputCheckbox @bind-Value="_config.GooglePhotosConfig.Enabled"/></td>
                </tr>
            </table>
        </div>
        <div class="footer">
            <Button Color="ButtonColor.Primary" @onclick="save">OK</Button>&nbsp;&nbsp;
            <Button Color="ButtonColor.Secondary" Outline="true" @onclick="close">Cancel</Button>
        </div>
    </BodyTemplate>
</Modal>

@code {

    [Inject]
    DataAccessService? dataAccessService {get ;set;}

    [Inject]
    ModalsService? modalsService {get ;set;}

    [Inject]
    ImageLibraryService? imageLibraryService {get ;set;}

    public Settings() {
        _errorTexts.Add("imageFolder",null);
    }
    protected async override Task OnInitializedAsync() {
        if ( modalsService!=null) {
            modalsService.Register(this,"Settings");
        } else {
            Console.WriteLine("null modalsService");
        }
    }

    private ConfigBase _config = new ConfigBase();

    private async Task close()
    {
        await Modal!.HideAsync();
    }

    private async Task onShowingAsync() {
        if ( dataAccessService!=null ) {
            _config = await dataAccessService.GetConfigAsync();
        }

    }

    private async Task save() {  
        if ( dataAccessService!=null ) {
            var mess = await dataAccessService.SetConfigAsync(_config);
            if ( (int) mess.StatusCode == 422) {
                var errors = await mess.Content.ReadFromJsonAsync<Dictionary<string,string>>();
                if ( errors!=null ) {
                    UpdateErrors(errors);
                }
            } else if ( mess.IsSuccessStatusCode && imageLibraryService!=null ) {
                //
                await close();
                await imageLibraryService.ReloadAsync();
            } else {
                Console.WriteLine($"Statuscode = [{mess.StatusCode}]");
            }
        }

    }
}
