div.imageEditorContainer {
    position: relative;
}

div.imageEditorInnerContainer {
    display: grid;
    grid-template-columns: 43px 1fr;
}

div.backButton {
    position:absolute;
    top: 5px;
    left: 100px;
    cursor: pointer;
    font-size: 2rem;
}

div.toolbarSeparator {
    border-top: 1px solid #999;
    margin-left: 4px;
    margin-right: 4px;
}

img.iconImage {
    width: 25px;
}

div.imageEditorToolbar {
    background-color: transparent;
    font-size: 1.5rem;
}

div.mainImageContainer {
    display: flex;  
    justify-content: center; 
    align-items: center; 
    margin-top: 20px;
    margin-bottom: 20px;
}

div.mainImageButton {
    font-size: 2rem;
    font-weight: bold;
}

img.mainImage {
    border-radius: 20px;
    max-height: calc( 100vh - 100px );
    max-width: calc( 100vw - 550px );
}

img.mainImage.working {
    opacity: 0.5;
}

img.mainImage.loading {
    opacity: 0;
}

img.mainImage.loaded {
    animation-duration: 0.5s;
    animation-name: merge-in;
}

  
@keyframes merge-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}



