<div class="mainDisplayContainer">
    <div class="@tnClass">
        <ThumbnailBrowser />
    </div>
    <div class="@ieClass">
        <ImageEditor />
    </div>
</div>

@code {
    [Inject]
    MainDisplayService? mainDisplayService {get; set;}

    string? tnClass {get; set;} 
    string? ieClass {get; set;}

    protected override void OnInitialized() {
        if ( mainDisplayService!=null) {
            mainDisplayService.OnShowStateChanged+= (e,ss) => {
                //
                setVisibility();
                StateHasChanged();
            };
            setVisibility();
        }
    }

    private void setVisibility() {
        if ( mainDisplayService!=null) {
            if ( mainDisplayService.ShowState == MainDisplayService.ShowStateEnum.ImageEditor ) {
                tnClass="hide";
                ieClass = "";
            } else {
                tnClass = "";
                ieClass="hide";
            }
        }
    }
}
