<div class="thumbnailBrowserContainer">
    @if ( imagesByDateList!=null ) {
        int dateIndex=0;
        @foreach( var ibd in imagesByDateList) {
            <div class="dateTitle">@ibd.Date.ToString("MMM dd, yyyy")</div>
            <div class="thumbnailsContainer">
                @{
                    int imageIndex=0;
                    foreach( var imageInfo in ibd.Images) {
                        <Thumbnail ImageInfo="@imageInfo" DateIndex="@dateIndex" ImageIndex="@imageIndex"/>
                        imageIndex++;
                    }
                }
            </div>
            dateIndex++;
        }
    } else {
        <div>No images found</div>
    }
</div>

@code {
    [Inject]
    ImageLibraryService? imageLibraryService {get; set;}

    List<ImagesByDate>? imagesByDateList {get; set;}

    protected override void OnInitialized()    {
        if (imageLibraryService != null) {
            if ( imageLibraryService.ImagesByDateList!=null) {
                imagesByDateList = imageLibraryService.ImagesByDateList;
            } 
            imageLibraryService.ImagesByDateLoaded+=(e,data)=>{
                Console.WriteLine($"ImagesByDateLoaded {data.Count}");
                imagesByDateList = data;
                // Not sure on what conditions we need to do this??
                StateHasChanged();
            };
        }
    }

}