<div class="thumbnailContainer">
    <img src="@getThumbnailSrc()" class="thumbnailImage" @onclick="onThumbnailSelected"/>
</div>

@code {

    [Inject]
    ImageLibraryService? imageLibraryService {get; set;}

    [Inject]
    DataAccessService? dataAccessService {get; set;}

    [Parameter]
    public ImageInfo? ImageInfo {get; set;}

    [Parameter]
    public int DateIndex {get; set;}

    [Parameter]
    public int ImageIndex {get; set;}

    private int _imageCounter = 0;

    protected override void OnInitialized() {
        if ( imageLibraryService!=null ) {
            imageLibraryService.ImageEdited += (e,imageInfo) => {
                if ( ImageInfo!=null && imageInfo.Id == ImageInfo.Id) {
                    _imageCounter++;
                    StateHasChanged();
                }
            };
        }
    }

    string getThumbnailSrc() {
        if ( ImageInfo!=null && dataAccessService!=null ) {
            var id = ImageInfo.Id;
            var encodedId = System.Net.WebUtility.UrlEncode(id);
            var url = $"{dataAccessService.BaseAddress}ImageLibrary/Thumbnail?id={encodedId}&imageCounter={_imageCounter}";
            return url;
        } else {
            // Should be an empty image or something??
            return "";
        }
    }

    void onThumbnailSelected() {
        if ( ImageInfo!=null ) {
            imageLibraryService?.SelectImage(DateIndex,ImageIndex);
        }
    }
}