<div class="thumbnailBrowserContainer">
    @if ( imagesByDateList!=null && imagesByDateList.Count>0 ) {
        int dateIndex=0;
        @foreach( var ibd in imagesByDateList) {
            <div class="dateTitle">@ibd.Date.ToString("MMM dd, yyyy")</div>
            <div class="thumbnailsContainer">
                @{
                    int imageIndex=0;
                    foreach( var imageInfo in ibd.Images) {
                        <Thumbnail ImageInfo="@imageInfo" DateIndex="@dateIndex" ImageIndex="@imageIndex"/>
                        imageIndex++;
                    }
                }
            </div>
            dateIndex++;
        }
    } else if (imagesByDateList == null ) {
        <div>Null dateTitle list</div>
    } else {
        <div class="noImagesAvailable">
            <div>No images available</div>
            <div style="margin-top: 2rem">
                <Button Color="ButtonColor.Primary" Size="ButtonSize.Small" @onclick="settings"><Icon Name="IconName.Gear"></Icon> Edit settings</Button>
            </div>
        </div>
    }
</div>

@code {
    [Inject]
    ImageLibraryService? imageLibraryService {get; set;}

    [Inject]
    ModalsService? modalsService {get; set;}

    List<ImagesByDate>? imagesByDateList {get; set;}

    protected override void OnInitialized()    {
        if (imageLibraryService != null) {
            if ( imageLibraryService.ImagesByDateList!=null) {
                imagesByDateList = imageLibraryService.ImagesByDateList;
                StateHasChanged();
            } 
            imageLibraryService.ImagesByDateLoaded+=(e,data)=>{
                imagesByDateList = data;
                // Not sure on what conditions we need to do this??
                StateHasChanged();
            };
        }
    }

    void settings() {
        modalsService?.Show("Settings");
    }

}