div.thumbnailBrowserContainer {
    padding-left: 1rem;
}

div.thumbnailsContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

div.dateTitle {
    font-weight: bold;
    font-size: 1.2rem;
    margin-top: 1.5rem;
    margin-bottom: 0.2rem;
    color: #666;
}

div.dateTitle:nth-child(1) {
    margin-top: 0.5rem;
}