@page "/"

<PageTitle>Image viewer</PageTitle>

<div class="homeContainer">
    <div class="months">
        <MonthSelector />
    </div>
    <div class="mainDisplay">
        <MainDisplay />
    </div>
    <div class="metadata">
        <Metadata />
    </div>
</div>
<!-- dialogs -- not visible until used -->
<div>
    <Settings></Settings>
    <MessageBox></MessageBox>
</div>
