<div class="header">    
    <div>ImageViewer v1.0</div>
    <div style="font-size:1.5rem">
        <ImageButton OnClick="importFromCameraAsync" Tooltip="Import images from camera">
            <Icon Name="IconName.Camera" />
        </ImageButton>        
        <ImageButton OnClick="settings"  Tooltip="Edit settings">
            <Icon Name="IconName.Gear" />
        </ImageButton>
    </div>
</div>

<NotificationBar @ref="@notificationBar"/>

@code {

    [Inject]
    ModalsService? modalsService {get; set;}

    [Inject]
    DataAccessService? dataAccessService {get; set;}

    [Inject]
    ImageLibraryService? imageLibraryService {get; set;}

    NotificationBar? notificationBar;

    private async Task importFromCameraAsync() {
        if ( dataAccessService!=null ) {
            List<string>? files=null;
            string? errorMessage;
            notificationBar?.SetMessage($"Importing images ...",0);
            (files,errorMessage) = await dataAccessService.ListImportFilesAsync();
            if ( files!=null ) {
                notificationBar?.SetMessage($"{files.Count} image(s) available fo import",0);
                string? destFile;
                int progress = 0, fileCount=0;                
                foreach( var file in files) {
                    (destFile,errorMessage) = await dataAccessService.ImportNextAsync();
                    fileCount++;
                    progress = (fileCount*100)/files.Count;
                    if ( destFile!=null) {
                        var mess = $"Moved {file} => {destFile}";
                        notificationBar?.SetMessage(mess,progress);
                    } else if (errorMessage!=null) {
                        notificationBar?.SetErrorMessage(errorMessage);
                    }
                }
                if ( fileCount>0 ) {
                    notificationBar?.SetMessage($"Successfully moved [{fileCount}] images",100);
                    imageLibraryService?.LoadMonthsByYearAsync();
                }
            } else if (errorMessage!=null) {
                notificationBar?.SetErrorMessage(errorMessage);
            }
        } else {
            Console.WriteLine("dataAccessServcie null");
        }
    }

    private async Task _importFromCameraAsync() {
        var importText = "Importing photos ...";
        for( int i=0;i<=100;i+=10) {
            await Task.Delay(1000);
            var progress=i;
            importText = $"progress [{i}]";
            if ( notificationBar!=null ) {
                notificationBar.SetMessage(importText,progress);
            }
            StateHasChanged();
            Console.WriteLine(importText);
        }
        if ( notificationBar!=null) {
            notificationBar.SetErrorMessage("Error!!!");
        }
    }
    private void settings()
    {
        if ( modalsService!=null ) {
            modalsService.Show(ModalDialog.Settings);
        }
    }
}