div.header {
    height: 60px;
    padding: 1.5rem;
    background-color:#646D9B;
    color: white;
    font-size: 1.1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div.importAlert {
    position: fixed;
    bottom: 0;
    left: 1rem;
}