<div class="header">
    <div>ImageViewer v1.0.0</div>
    <div>
        <ImageButton OnClick="OnClick">
            <Icon Name="IconName.Gear" />
        </ImageButton>
    </div>
</div>

@code {
    private void OnClick()
    {
        Console.WriteLine("Settings clicked");
    }
}