<Tooltip Title="@Tooltip" Placement="@TooltipPlacement">
    <div class="imageButtonContainer" @onclick="OnClick">
            @ChildContent
    </div>
</Tooltip>

@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public EventCallback OnClick { get; set; }

    [Parameter]
    public string Tooltip {get; set;} = "";

    [Parameter]
    public TooltipPlacement TooltipPlacement {get; set;} = TooltipPlacement.Right;
}